{% extends 'base.html' %}

{% block content %}
<div class="container-fluid text-muted pb-5">
    <h1 class="pb-5 text-center display-1">About Us</h1>
    <div class="row justify-content-center bg-light rounded-pill">
        <div class="col-md-9 col-xs-11">
            <p class="text-center lead">
                The BearPill Diary was founded by Miki - a software engineer with a diverse background in English, Accounting, Interpretation and Computer Science.
            </p>
            <p>
                As a specialized interpreter, Miki has interpreted for many patients, regardless of their age and social status,
                and discovered that they tend to forget their medications names and/or measurement names and numbers.
                Often times, the numbers are just too many and the terminologies are so lengthy and technical
                that no wonder why no one remembers anything on top of everything the patients have had to go through.
                <br>
                More importantly, as a daughter to aging parents, Miki has noticed that her parents have a propensity to miss dosages of their medications.
                Miki's parents are not as tech-savvy and would tune out any instructions on how to set up a system to remember when to take what as soon as they hear any technology-like word.
            </p>
            <p>
                Too frustrating of a situation together with her hope that her parents would utilize the application developed by their own daughter,
                has inspired Miki to develop the BearPill Diary application to facilitate individuals in their health-record-management journey.
                <br>
                The application, however, is much more than just a journal.
                BearPill Diary can provide users with many useful functionalities, e.g. setting reminders and generating insights about their data.
                As an illustration, the application can provide users information about their medications, entailing warnings and other patients' experiencing while taking the drugs from openFDA - an Elasticsearch-based API that serves public FDA data about nouns like drugs, devices, and foods.
            </p>
            <p class="text-center lead">
                At the BearPill Diary, we truly strive to improve life quality, no matter how insignificant it may seem in part to some.
                <br>
                Hopefully, this brief summary has given you a glimpse into what the BearPill Diary values and motivated you to give the application a shot.
                What is a better way to figure out whether it works for you other than testing it out? After all, it is totally free! :)

            </p>
        </div>
    </div>
</div>
{% endblock %}
