{% extends 'base.html' %}

{% block content %}
<div class="container-fluid pb-5">
    <h1 class="pb-5 text-center display-1">About Us</h1>
    <div class="row justify-content-center rounded-pill" style="padding: 5%; background-color: #d9c3d4">
        <div class="col-md-9 col-xs-11">
            <p class="text-center lead">
                The BearPill Diary was founded by Miki - a trilingual software engineer, striving to explore the intersection of machine learning and artificial intelligence to develop applications that empower individuals, bridge cultural gaps and ultimately bringing people closer together.
            </p>
            <p>
                This passion began when she witnessed the challenges that patients faced in managing their health records, which led her to embark on my tech journey and build this application with its Android version currently being developed. Her education in both computer science and business administration has provided her with a strong foundation in technical and business knowledge.
                In addition to my academic pursuits, I have also been involved in various extracurricular activities such as AnitaB, Rewriting the Code, and the Society of Women Engineers. These organizations have provided her with opportunities to network with other like-minded individuals, attend conferences and workshops, and develop my leadership skills.
            </p>
            <p>
                The application is much more than just a journal.
                BearPill Diary can provide users with many useful functionalities, e.g. setting reminders and generating insights about their data.
                As an illustration, the application can provide users information about their medications, entailing warnings and other patients' experiencing while taking the drugs from openFDA - an Elasticsearch-based API that serves public FDA data about nouns like drugs, devices, and foods.
            </p>
            <p>
                At the BearPill Diary, we truly strive to improve life quality, no matter how insignificant it may seem in part to some.
                Hopefully, this brief summary has given you a glimpse into what the BearPill Diary values and motivated you to give the application a shot. What is a better way to figure out whether it works for you other than testing it out? After all, it is totally free! :)
            </p>
        </div>
    </div>
</div>
{% endblock %}
