{% macro contact(form) %}

<div class="container-fluid my-5" id="contact">
    <div class="row">
        <div class="col-lg-6">
            <img src="{{url_for('home_bp.static',filename = 'images/contact.png')}}" alt="contact" class="img-fluid">
        </div>
        <div class="col-lg-6">
            <h3 class="text-center pt-3 fw-bolder">Let's Chat!</h3>
            <p class="text-center pb-2">
                We're open for any feedback, inquiries, cute pet memes and more!
            </p>

            <form action="" method="post">
                {{ form.hidden_tag() }}

                {{ form.email_address.label() }}
                <div class="mb-2 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-envelope-fill"></i>
                    </span>
                    {{ form.email_address(class="form-control") }}
                    {% for error in form.email_address.errors %}
                    <div class="container-fluid text-red">[{{ error }}]</div>
                    {% endfor %}
                </div>

                {{ form.subject.label() }}
                <div class="mb-2 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-patch-question-fill"></i>
                    </span>
                    {{ form.subject(class="form-select") }}
                    {% for error in form.subject.errors %}
                    <div class="container-fluid text-red">[{{ error }}]</div>
                    {% endfor %}
                </div>

                <div class="form-floating my-4">
                    {{ form.message_body(class="form-control", style="height: 200px") }}
                    {{ form.message_body.label(class="text-muted") }}
                    {% for error in form.message_body.errors %}
                    <div class="container-fluid text-red">[{{ error }}]</div>
                    {% endfor %}
                </div>

                <div class="text-center">
                    {{ form.submit(class="btn btn-dark text-light fw-bolder") }}
                </div>
            </form>

        </div>
    </div>
</div>

{% endmacro %}




