<p>Hi {{ user.username }},</p>
<p>
Please click on the link below to reset your password.
    <a href="{{ url_for('auth_bp.reset_password_page', token=token, _external=True) }}">
        Reset Password
    </a>
</p>

<p>You can also copy this link and paste it in your browser's address bar if you prefer.</p>
<p>{{ url_for('auth_bp.reset_password_page', token=token, external=True) }}</p>

<p>Please disregard the email if you have not requested to receive this message.</p>

<p>Best regards,</p>
<p>The BearPill Diary Team :)</p>

