{% extends 'base.html' %}

{% block content %}
<div class="container-fluid py-5">
  {% if numbers %}
    <canvas id="myChart"></canvas>
    <script>
      const ctx = document.getElementById("myChart").getContext("2d")

      {% if measurement.category == '1' %}
        const lineChart = new Chart(ctx, {
          type: "line",
          data: {
            labels: {{ timestamps | safe }},
            datasets: [
              {
                label: "Number",
                data: {{ numbers | safe }},
                fill: true,
                borderColor: "rgb(75, 192, 192)",
                lineTension: 0.1
              }
            ]
          },
          options: {
            responsive: true,
          }
        });
    {% endif %}

    {% if measurement.category == '2' %}
        const barChart = new Chart(ctx, {
          type: "bar",
          data: {
            labels: {{ timestamps | safe }},
            datasets: [
              {
                label: "Upper Number",
                data: {{ uppernums | safe }},
                backgroundColor: [
                  'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                  'rgb(75, 192, 192)',
                  'rgb(54, 162, 235)'
                ],
                borderWidth: 1
              },
              {
                label: "Lower Number",
                data: {{ lowernums | safe }},
                backgroundColor: [
                  'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                  'rgb(75, 192, 192)',
                  'rgb(54, 162, 235)'
                ],
                borderWidth: 1
              }
            ]
          },
          options: {
            responsive: true,
            scales: {
              x: {
                  stacked: true
              },
              y: {
                  beginAtZero: true,
                  stacked: true
              }
            }
          }
        });
    {% endif %}

    {% if measurement.category == '3' %}
        const barChart = new Chart(ctx, {
          type: "bar",
          data: {
            labels: {{ timestamps | safe }},
            datasets: [
              {
                label: "First Number",
                data: {{ firstnums | safe }},
                backgroundColor: [
                  'rgba(255, 159, 64, 0.2)',
                ],
                borderColor: [
                  'rgb(75, 192, 192)',
                  'rgb(54, 162, 235)',
                  'rgba(153, 102, 255, 0.2)'
                ],
                borderWidth: 1
              },
              {
                label: "Second Number",
                data: {{ secondnums | safe }},
                backgroundColor: [
                  'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                  'rgb(75, 192, 192)',
                  'rgb(54, 162, 235)',
                  'rgba(153, 102, 255, 0.2)'
                ],
                borderWidth: 1
              },
              {
                label: "Third Number",
                data: {{ thirdnums | safe }},
                backgroundColor: [
                  'rgba(153, 102, 255, 0.2)'
                ],
                borderColor: [
                  'rgb(75, 192, 192)',
                  'rgb(54, 162, 235)',
                  'rgba(153, 102, 255, 0.2)'
                ],
                borderWidth: 1
              }
            ]
          },
          options: {
            responsive: true,
            scales: {
              x: {
                  stacked: true
              },
              y: {
                  beginAtZero: true,
                  stacked: true
              }
            }
          }
        });
    {% endif %}
  </script>
  {% else %}
  <h6 class="text-muted text-center pb-4">Not enough data to generate a chart!</h6>
  {% endif %}
</div>
{% endblock %}




