<!--------------------------------------MEASUREMENTS-------------------------------------->

{% macro measurement_single(form) %}
    <div class="row justify-content-center mt-3">
        <div class="col-lg-6">
            <form action="" method="post">
                {{ form.hidden_tag() }}

                {{ form.number.label(class="text-muted") }}
                <div class="mb-3 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-123"></i>
                    </span>
                    {{ form.number(class="form-control") }}
                    {% for error in form.number.errors %}
                    <div class="container-fluid text-danger">[{{ error }}]</div>
                    {% endfor %}
                </div>

                {{ form.timestamp.label(class="text-muted") }}
                <div class="mb-3 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-calendar3"></i>
                    </span>
                    {{ form.timestamp(class="form-control") }}
                    {% for error in form.timestamp.errors %}
                    <div class="container-fluid text-danger">[{{ error }}]</div>
                    {% endfor %}
                </div>

                <div class="my-4 text-center">
                    {{ form.submit(class="btn btn-dark text-light") }}
                </div>
            </form>
        </div>
    </div>
{% endmacro %}


{% macro measurement_double(form) %}
    <div class="row justify-content-center mt-3">
        <div class="col-lg-6">
            <form action="" method="post">
                {{ form.hidden_tag() }}

                {{ form.upper_number.label(class="text-muted") }}
                <div class="mb-3 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-123"></i>
                    </span>
                    {{ form.upper_number(class="form-control") }}
                    {% for error in form.upper_number.errors %}
                    <div class="container-fluid text-danger">[{{ error }}]</div>
                    {% endfor %}
                </div>

                {{ form.lower_number.label(class="text-muted") }}
                <div class="mb-3 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-123"></i>
                    </span>
                    {{ form.lower_number(class="form-control") }}
                    {% for error in form.lower_number.errors %}
                    <div class="container-fluid text-danger">[{{ error }}]</div>
                    {% endfor %}
                </div>

                {{ form.timestamp.label(class="text-muted") }}
                <div class="mb-3 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-calendar3"></i>
                    </span>
                    {{ form.timestamp(class="form-control") }}
                    {% for error in form.timestamp.errors %}
                    <div class="container-fluid text-danger">[{{ error }}]</div>
                    {% endfor %}
                </div>


                <div class="my-4 text-center">
                    {{ form.submit(class="btn btn-dark text-light") }}
                </div>
            </form>
        </div>
    </div>
{% endmacro %}


{% macro measurement_triple(form) %}
    <div class="row justify-content-center mt-3">
        <div class="col-lg-6">
            <form action="" method="post">
                {{ form.hidden_tag() }}

                {{ form.first_number.label(class="text-muted") }}
                <div class="mb-3 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-123"></i>
                    </span>
                    {{ form.first_number(class="form-control") }}
                    {% for error in form.first_number.errors %}
                    <div class="container-fluid text-danger">[{{ error }}]</div>
                    {% endfor %}
                </div>

                {{ form.second_number.label(class="text-muted") }}
                <div class="mb-3 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-123"></i>
                    </span>
                    {{ form.second_number(class="form-control") }}
                    {% for error in form.second_number.errors %}
                    <div class="container-fluid text-danger">[{{ error }}]</div>
                    {% endfor %}
                </div>

                {{ form.third_number.label(class="text-muted") }}
                <div class="mb-3 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-123"></i>
                    </span>
                    {{ form.third_number(class="form-control") }}
                    {% for error in form.third_number.errors %}
                    <div class="container-fluid text-danger">[{{ error }}]</div>
                    {% endfor %}
                </div>

                {{ form.timestamp.label(class="text-muted") }}
                <div class="mb-3 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-calendar3"></i>
                    </span>
                    {{ form.timestamp(class="form-control") }}
                    {% for error in form.timestamp.errors %}
                    <div class="container-fluid text-danger">[{{ error }}]</div>
                    {% endfor %}
                </div>


                <div class="my-4 text-center">
                    {{ form.submit(class="btn btn-dark text-light") }}
                </div>
            </form>
        </div>
    </div>
{% endmacro %}


<!--function to view all reminders-->
{% macro view_reminders(measurement) %}
<!-- Button trigger modal -->
<a class="text-secondary" data-bs-toggle="modal" data-bs-target="#reminders" href="#">
    <i class="bi bi-alarm-fill"></i> <b>Reminders</b>
</a>

<!-- Modal -->
<div class="modal fade" id="reminders" tabindex="-1" aria-labelledby="reminders_all" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reminders_all">All Reminders</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p class="text-muted">
            <a class="text-secondary"
               href="{{url_for('measurements_bp.measurement_add_reminder_page', id=measurement.id) }}">
                Create
            </a>
            {% with reminders = measurement.measurements_reminders.all() %}
            {% if reminders %}
                {{ erase_reminders(measurement.id) }}
                You have {{ reminders | length }} reminder(s).<br>
                {% for reminder in reminders %}
                    <a class="text-secondary" href="{{url_for('measurements_bp.measurement_update_reminder_page', id=reminder.id) }}">Update</a>
                    <a class="text-secondary" href="{{url_for('measurements_bp.measurement_delete_reminder_page', id=reminder.id) }}">Delete</a>
                    - {{ reminder.freq_interval }} {{ reminder.freq }} ending on {{ reminder.end_date | timestring }}
                    ({{ reminder.freq_byday }}) <br>
                {% endfor %}
            {% endif %}
            {% endwith %}
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endmacro %}


<!--function to erase all reminders-->
{% macro erase_reminders(measurement_id) %}
<!--    Button trigger modal for DEL ALL;-->
<a class="text-danger" data-bs-toggle="modal" data-bs-target="#delete-all-reminders"
   href="url_for('measurements_bp.measurement_delete_reminders_page', id=measurement_id)">Erase All
</a>
<!-- Modal -->
<div class="modal fade" id="delete-all-reminders" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="delete-all-reminders-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-all-reminders-label">Erase All?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete all these reminders? Data deleted won't be recovered anymore...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a class="btn btn-small btn-danger" href="{{ url_for('measurements_bp.measurement_delete_reminders_page', id=measurement_id) }}">
                    <i class="bi bi-trash3-fill"></i> Erase
                </a>
            </div>
        </div>
    </div>
</div>
{% endmacro %}


{% macro chart(measurement, numbers, timestamps, uppernums, lowernums, firstnums, secondnums, thirdnums) %}

<div class="container-fluid py-5">
  {% if numbers %}
    <canvas id="myChart"></canvas>
    <script>
      const ctx = document.getElementById("myChart").getContext("2d")

      {% if measurement.category == '1' %}
        const lineChart = new Chart(ctx, {
          type: "line",
          data: {
            labels: {{ timestamps | safe }},
            datasets: [
              {
                label: "Number",
                data: {{ numbers | safe }},
                fill: true,
                borderColor: "rgb(75, 192, 192)",
                lineTension: 0.1
              }
            ]
          },
          options: {
            responsive: true,
          }
        });
    {% endif %}

    {% if measurement.category == '2' %}
        const barChart = new Chart(ctx, {
          type: "bar",
          data: {
            labels: {{ timestamps | safe }},
            datasets: [
              {
                label: "Upper Number",
                data: {{ uppernums | safe }},
                backgroundColor: [
                  'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                  'rgb(75, 192, 192)',
                  'rgb(54, 162, 235)'
                ],
                borderWidth: 1
              },
              {
                label: "Lower Number",
                data: {{ lowernums | safe }},
                backgroundColor: [
                  'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                  'rgb(75, 192, 192)',
                  'rgb(54, 162, 235)'
                ],
                borderWidth: 1
              }
            ]
          },
          options: {
            responsive: true,
            scales: {
              x: {
                  stacked: true
              },
              y: {
                  beginAtZero: true,
                  stacked: true
              }
            }
          }
        });
    {% endif %}

    {% if measurement.category == '3' %}
        const barChart = new Chart(ctx, {
          type: "bar",
          data: {
            labels: {{ timestamps | safe }},
            datasets: [
              {
                label: "First Number",
                data: {{ firstnums | safe }},
                backgroundColor: [
                  'rgba(255, 159, 64, 0.2)',
                ],
                borderColor: [
                  'rgb(75, 192, 192)',
                  'rgb(54, 162, 235)',
                  'rgba(153, 102, 255, 0.2)'
                ],
                borderWidth: 1
              },
              {
                label: "Second Number",
                data: {{ secondnums | safe }},
                backgroundColor: [
                  'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                  'rgb(75, 192, 192)',
                  'rgb(54, 162, 235)',
                  'rgba(153, 102, 255, 0.2)'
                ],
                borderWidth: 1
              },
              {
                label: "Third Number",
                data: {{ thirdnums | safe }},
                backgroundColor: [
                  'rgba(153, 102, 255, 0.2)'
                ],
                borderColor: [
                  'rgb(75, 192, 192)',
                  'rgb(54, 162, 235)',
                  'rgba(153, 102, 255, 0.2)'
                ],
                borderWidth: 1
              }
            ]
          },
          options: {
            responsive: true,
            scales: {
              x: {
                  stacked: true
              },
              y: {
                  beginAtZero: true,
                  stacked: true
              }
            }
          }
        });
    {% endif %}
  </script>
  {% else %}
  <h6 class="text-muted text-center pb-4">Not enough data to generate a chart!</h6>
  {% endif %}
</div>

{% endmacro %}