{% extends 'base.html' %}
{{ title }}
{% block content %}
<!--the action attribute of the form tells the browser the URL that should be used when submitting the info the user enter in the form-->
<!--action has an empty string so that the form is submitted to the URL that is shown in the address bar-->
<!--setting nonvalidate is optional, but putting it here so we can use flask app to test our validators-->
<!--hidden_tag generating a hidden field that includes a token used to protect the form against CSRF-->

<div class="container-fluid">
    <div class="text-center  mt-5">
        <h3>Update Measurement</h3>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-lg-6">
            <form action="" method="post">
                {{ form.hidden_tag() }}

                {{ form.measurement_name.label(class="") }}
                <div class="mb-3 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-clipboard2-pulse"></i>
                    </span>
                    {{ form.measurement_name(class="form-control") }}
                    {% for error in form.measurement_name.errors %}
                    <div class="container-fluid" style="color: danger;">[{{ error }}]</div>
                    {% endfor %}
                </div>

                {{ form.category.label(class="") }}
                <div class="mb-3 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-bookmark-heart"></i>
                    </span>
                    {{ form.category(class="form-select") }}
                    {% for error in form.category.errors %}
                    <div class="container-fluid" style="color: danger;">[{{ error }}]</div>
                    {% endfor %}
                </div>

                <div class="my-4 text-center">
                    {{ form.submit(class="btn btn-dark text-light") }}
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
